@using Shop.Data
@model Product[]
@{
    ViewData["Title"] = "Quản lý sản phẩm";
}

<h2>Danh sách sản phẩm</h2>
<div class="container pb-3">
    <form method="get">
        <div class="row" style="align-items: center;">
            <div class="col-12"style="position:relative;">
                <input class="form-control" placeholder="Tìm kiếm sản phẩm..." name="keyword" value="@ViewData["keyword"]" />
                <button type="submit" style="position: absolute;top:0px;right:20px;font-size: 26px;background:none;border: none;"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>

        </div>
    </form>
</div>


<div style="margin-bottom:150px">
    <table class="table">
        <thead>
            <tr>
                <th>Tên</th>
                <th>Hình ảnh</th>
                <th>Giá</th>
                <th>
                    <a href="@Url.Action("Add", "Product")" class="btn btn-outline-success" style="border-radius:0; width:80%; height:40px !important;margin-top:10%">Thêm mới</a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td><img src="@item.Image" alt="@item.Name" style="height: 50px; width: auto"></td>
                    <td>@item.Price vnđ</td>
                    <td>
                        <a href="@Url.Action("Edit", "Product", new {id = item.Id})" class="btn btn-outline-primary">Sửa</a>
                        <a href="@Url.Action("Delete", "Product", new {id = item.Id})" class="btn btn-outline-danger">Xóa</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    @if (ViewData["notify"] != null && ViewData["notify"] != string.Empty)
    {
        <script>
            alert('@Html.Raw(ViewData["notify"])');
        </script>
    }
}